/* Write your CSS here */
.team-match-container {
  background-color: orange;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
}

.banner-image {
  width: 90vw;
  height: 300px;
}
.banner {
  width: 90vw;
  height: 300px;
  margin-bottom: 20px;
}
.back-button {
  background-color: aqua;
  border-radius: 10px;
  height: 30px;
  width: 100px;
  cursor: pointer;
}
.pie-chart {
  align-self: center;
}
